/* _content/SumCalculator/Components/SumRecordForm.razor.rz.scp.css */
button[b-vz93wetq70]
{
    width: 100%;
    margin: 5px;
    width: calc(100% - 10px);
}
input[b-vz93wetq70] {
    margin: 5px;
    width: calc(100% - 10px);
}
/* _content/SumCalculator/Pages/Index.razor.rz.scp.css */
html[b-qylp48zxgh], body[b-qylp48zxgh] {
    height: 100%;
    margin: 0;
}

body[b-qylp48zxgh] {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container[b-qylp48zxgh] {
    width: 600px; /* Set width for the container */
    height: 600px; /* Set total height for the container */
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column; /* Stack children vertically */
}

.container > .top[b-qylp48zxgh] {
    flex: 0; /* Expand to take remaining space */
    margin: 5px;
    background-color: white;
    border: 1px solid #ddd;
}

.container > .bottom[b-qylp48zxgh] {
    margin: 5px;
    height: 100%; /* Fixed height for bottom */
    background-color: white;
    border: 1px solid #ddd;
    overflow-y: auto; /* Make bottom scrollable */
}
/* _content/SumCalculator/Shared/MainLayout.razor.rz.scp.css */
.page[b-5dq0rpwjsu] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-5dq0rpwjsu] {
    flex: 1;
}

.sidebar[b-5dq0rpwjsu] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-5dq0rpwjsu] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-5dq0rpwjsu]  a, .top-row .btn-link[b-5dq0rpwjsu] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-5dq0rpwjsu] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-5dq0rpwjsu] {
        display: none;
    }

    .top-row.auth[b-5dq0rpwjsu] {
        justify-content: space-between;
    }

    .top-row a[b-5dq0rpwjsu], .top-row .btn-link[b-5dq0rpwjsu] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-5dq0rpwjsu] {
        flex-direction: row;
    }

    .sidebar[b-5dq0rpwjsu] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-5dq0rpwjsu] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-5dq0rpwjsu], article[b-5dq0rpwjsu] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/SumCalculator/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-1raph4oh5d] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-1raph4oh5d] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-1raph4oh5d] {
    font-size: 1.1rem;
}

.oi[b-1raph4oh5d] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-1raph4oh5d] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-1raph4oh5d] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-1raph4oh5d] {
        padding-bottom: 1rem;
    }

    .nav-item[b-1raph4oh5d]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-1raph4oh5d]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-1raph4oh5d]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-1raph4oh5d] {
        display: none;
    }

    .collapse[b-1raph4oh5d] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
